$icon-font-path: '../fonts/';
$laranja: #fdb913;
$cinza-claro: #e3e4e8;
$cinza: #3b3b3c;

$hamburger-padding-x                       : 7px ;
$hamburger-padding-y                       : 7px ;
$hamburger-layer-width                     : 30px;

$container-lg: 960px;
$container-md: 840px;

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/css-hamburgers/_sass/hamburgers/hamburgers.scss";
@import "bower_components/slick-carousel/slick/slick.scss";
// endbower
@import "bower_components/slick-carousel/slick/slick-theme.scss";

/* Space out content a bit */

/* Everything but the jumbotron gets side spacing for mobile first views */

/* Custom page header */
@import "config/settings";
@import "config/helpers";

@import "components/menu";
@import "components/slider";

@import "pages/home";
@import "pages/orcamento";
@import "pages/servico";
@import "pages/contato";
@import "pages/quem-somos";












