$icon-font-path: '../fonts/';
$laranja: #fdb913;
$cinza-claro: #e3e4e8;
$cinza: #3b3b3c;
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/css-hamburgers/_sass/hamburgers/hamburgers.scss";
// endbower

/* Space out content a bit */
body {
  background-color: #f6f6f6;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  color: #808285;
  @media (max-width: 768px){
    padding-bottom: 53px;
  }
}
ul{
  list-style-type: none;
}
h1,h2,h3,h4{
  margin: 0;
  padding: 0;
}
h2{
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  color: #3b3b3c;
  text-align: center;
}
p{

  text-align: center;
  margin: 0;

}
/* Everything but the jumbotron gets side spacing for mobile first views */

/* Custom page header */
.hamburger{
  float: right;
}
.rowspace{
  margin-top: 2em;
}
.menu-topo{
  list-style: none;
  transition: all .4s linear;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  justify-content: space-between;
  &.open {
    padding: 0;
    display: flex;
    margin-top: 100px;
    flex-direction: column
  }
  a{
    color: #666;
    font-size: 16px;
    margin: 0;
    padding: 14px 0;
    text-align: center;
    text-transform: uppercase;
    @media(max-width: 768px){
      flex: 1 1 100%;
      height: 40px;
    }
    &.actv{
      font-weight: bold;
    }
    &.destaque{
      background-color: $laranja;
      color: #FFF;
      padding: 14px;
      font-weight: bold;
    }
  }
}
.header {
  background-color: #e3e4e8;
  border-bottom: 1px solid #e5e5e5;
  margin: 0;
  padding: 24px 0;
}
.slider{
  div{
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 305px;
    @media (min-width: 768px){
      height: 500px;
    }
    .content{
      background-color: rgba(253,185,19,.8);
      max-width: 455px;
      left: 60%;
      display: flex;
      p{
        margin: 120px 30px;
        font-size: 45px;
        color: #FFF;
        max-width: 320px;
        text-transform: uppercase;
        font-weight: bold;
        text-align: left;
      }
    }
  }
}
.bemvindo{
  padding: 60px 0 0 ;
  p{
    padding: 30px;
  }
}
.center{
  display: block;
  margin: 0 auto;
}
.servicos{
  padding: 60px 0;
  ul{
    margin: 0;
    padding: 0;
    list-style: none;
    li{
      margin: 15px 0;
      a{
        background-position: center right;
        background-repeat: no-repeat;
        background-color: $laranja;
        color: #FFF;
        display: block;
        height: 80px;


        h3{
          font-size: 16px;
          text-transform: uppercase;
          padding: 15px 20px;
          line-height: 24px;
          font-weight: bold;
          position: relative;
          &:before {
            content: "";
            position: absolute;
            right: 15px;
            top: 30px;
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;
            width: 0;
            height: 0;
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
            border-left: 10px solid white;
          }
        }
      }
    }
  }
}
.orcamento{
  h2{
    padding: 1em;
  }
  .contato-lista{
    list-style: none;
    i{
      color: #fcb813;
    }
  }
  form{
    padding: 20px 0;
    color: #c3c5ca;
    input, textarea{
      display: block;
      width: 100%;
      padding: 5px 10px;
      border: 1px solid #d8dade;
    }
    h3{
      color: #000;
      text-align: center;
      text-transform: uppercase;
    }
    .btn{
      background-color: #fdb913;
      color: #FFF;
      text-transform: uppercase;
      font-weight: bold;
      padding: 10px 0;
      max-width: 220px;
      margin: 0 auto;
    }
  }
}
footer{
  background-color: $cinza-claro;
  padding: 30px 0;
  .logo-footer{
    display: block;
    margin: 0 auto;
  }

  .contato-lista{
    i{
      color: #3a3a3b;
    }
  }

}
.assinatura{
  padding: 15px 0 15px;
  background-color: $cinza;
  color: #FFF;
  p{
    font-size: 12px;
    text-align: left;
    margin-top: 10px;
  }

  .social-media{
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    li{
      a{
        background-color: #f6f6f6;
        display: block;
        text-align: center;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        padding: 5px;
        color: $cinza;
      }
    }
  }
}
.menu {
  background-color: #3b3b3c;
  position: fixed;
  z-index: 100;
  @media screen and (max-width: 768px){
    bottom: 0;
    left: 0;
    width: 100%;
  }
  @media (min-width: 769px) {
    right: 0;
    top: 25%
  }
  ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    @media (min-width: 769px) {
      display: block;
    }
    li {
      border-right: 1px solid #000;
      padding: 10px 0;
      @media (max-width: 768px){
        -webkit-box-flex: 1;
        -ms-flex: 1 1 33.33333%;
        flex: 1 1 33.33333%;
      }
      a{
        color: #fcb813;
        display: block;
        padding: 10px 20px;
        text-align: center;
      }
    }
  }
}

.page-orcamento .orcamento{
  @media (min-width: 1024px){
    padding: 120px;
  }
}
