.bemvindo{
  @media (max-width: 768px){
    margin: 30px 0;
    padding-top: 20px;
  }
  @media (min-width: 1024px){
    margin: 60px 0;
  }
}

.servicos{
  @media (min-width: 1024px){
    // padding: 60px 0 0 ;
  }
  ul{
    margin: 0;
    margin-top: 30px;
    padding: 0;
    list-style: none;
    li{
      margin: 15px 0;
      a{
        background-size: cover;
        color: #FFF;
        display: block;
        font-weight: bold;
        height: 120px;
        max-width: 780px;
        font-size:  0;
        margin: 0 auto;
        background-position: 10%;
        @media (max-width: 768px){
          background-color: $laranja;
          background-image: none !important;
          font-size: 16px;
          height: 80px;
          padding: 19px;
          text-align: center;
          text-transform: uppercase;
          text-decoration: none;
        }
      }
    }
  }
}

.orcamento{
  margin-top: 50px;
  @media (max-width: 768px){
    margin-top: 20px;
  }
  h2{
    margin: 0;
    padding: 0;
  }
  p{
    margin: 30px 0 0;
  }
  .contato-lista{
    list-style: none;

    i{
      color: #fcb813;
    }
  }
  form{
    padding: 20px 0;
    color: #c3c5ca;
    .form-group{
      margin-bottom: 0;
    }
    input, textarea{
      display: block;
      width: 100%;
      margin-bottom: 10px;
      padding: 5px 10px;
      border: 1px solid #d8dade;
    }
    h3{
      color: #000;
      text-align: center;
      text-transform: uppercase;
    }
    .btn{
      background-color: #fdb913;
      color: #FFF;
      text-transform: uppercase;
      font-weight: bold;
      padding: 10px 0;
      max-width: 220px;
      margin: 0 auto;
      border-radius: 0;
      outline: 0;
    }
  }
}
.transporte{
  margin-top: 30px;
  ul{
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 780px;
    margin: 30px auto 0 auto;
    justify-content: space-between;
    li{
      @media(max-width: 768px){
        flex: 0 0 50%;
        margin-bottom: 20px;
        img{
          display: block;
          margin: 0 auto;
        }
      }
      h3{
        margin-top: 5px;
        font-size: 14px;
        color: #000;
        font-weight: bold;
        text-align: center;
        text-transform: capitalize;
      }
    }
  }
}
